* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: arial;
}

body {
    background: #1584d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    min-height: 450px;
    background-color: white;
    padding: 15px 20px;
    box-shadow: 0px 0px 10px -3px black
}

.container form input {
    width: 100%;
    margin-top: 23px;
    height: 40px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #1584d2;
}

.ins {
    font-size: 20px;
    margin: 30px 0;
}

.btn {
    background-color: #1584d2;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.deja {
    margin-top: 20px;
    text-align: center;
}

.deja a {
    text-decoration: none;
    color: #1584d2;
}

.result {
    margin: 10px;
    font-size: 20px;
    color: #1584d2;
}

.passInp {
    position: relative;
}

.passInp div {
    color: grey;
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
}

.emailInp, .userInput{
    position: relative;
}


.error {
    position: absolute;
    bottom: -2px;
    transform: translateY(100%);
    right: 0;
    font-size: 15px;
    color: red;
}

.notValid {
    border: 2px solid red !important;
}

.disabled {
    cursor: not-allowed;
}